body{
  overflow:hidden;
}

#window{
  height: 850px;
  width: 955px;
  border: 2px solid black;
  position: absolute;
  display: block;
}

a{
  font-size: 13px;
  font-family: arial,sans-serif;
  text-decoration: none;
  color: #404040;
}

.nav
{
  float: right;
  margin: 7px 15px 0 0
}

li{
  display: inline-block;
  vertical-align: right;
  margin-right: 10px;
}


